[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-escpos = "*"
requests = "*"
toolz = "*"
adafruit-led-backpack = "*"
evdev = "*"
pillow = "*"
unidecode = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.6"
